@using Model.DAO;
@model Model.EF.Exam

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


@section breadcrumb{
    Xóa kỳ thi
}

<h3>Bạn có chắc là muốn xóa kỳ thi này?</h3>
<div>
    <hr />
    <span class="badge badge-primary" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1rem">Nội dung câu hỏi</span>
    <table class="table table-bordered table-dark">
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-dark">
        <tr>
            <th scope="row" width="30%">Kỳ thi</th>
            <td>
                @Html.DisplayFor(model => model.Titile)
            </td>
        <tr>
            <th scope="row" width="50%">Ghi chú</th>
            <td width="50%">
                @{

                    <p>@Model.Note</p>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Thí sinh</th>
            <td>
                @{
                    var _listClass = new ExamDAO().GetClassSelected(Model.Id);
                    if (_listClass == null)
                    {
                        <p class="badge badge-pill badge-info">Chưa thiết lập</p>

                    }
                    else
                    {
                        foreach (var i in _listClass)
                        {
                            <p class="badge badge-pill badge-success">@i.Name</p>
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Trạng thái</th>
            <td>
                @{

                    if (Model.Status == null)
                    {
                        <p class="badge badge-pill badge-info">Chưa thiết lập</p>

                    }
                    else if (Model.Status == true)
                    {
                        <p class="badge badge-pill badge-success">Mở</p>
                    }
                    else
                    {
                        <p class="badge badge-pill badge-danger">Đóng</p>
                    }
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Người tạo</th>
            <td>
                @{
                    var _userDao = new UserDAO();
                    if (Model.UserID == null)
                    {
                        <p>null</p>
                    }
                    else
                    {
                        <p>@_userDao.GetUserById(Model.UserID).UserName</p>
                    }
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Ngày tạo</th>
            <td>@Html.DisplayFor(model => model.CreatedDate)</td>
        </tr>
        <tr></tr>
    </table>


    @using (Html.BeginForm("Delete", "exams", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a class="btn btn-dark" href="/admin/exams">Hủy</a>
        </div>
    }
</div>
