@model Model.EF.Exam
@using Model.DAO
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    Chi tiết kỳ thi
}

<div>
    <a class="btn btn-warning right pull-right" style="margin-bottom: 10px" href="/admin/exams/edit/@Model.Id">Chỉnh sửa</a>
</div>


<div>
    <span class="badge badge-primary" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 1rem; margin-top: 24px">Thông tin kỳ thi</span>
    <table class="table table-bordered table-dark">
        <tbody>
            @{
                var _userDao = new UserDAO();
                var _examDao = new ExamDAO();
            }
            <tr>
                <th scope="row" width="50%">Kỳ thi</th>
                <td width="50%">
                    @{

                        <p>@Model.Titile</p>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row" width="50%">Môn thi</th>
                <td width="50%">
                    @{

                        <p>@Model.Subject.Name</p>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row" width="50%">Mã đề thi</th>
                <td width="50%">
                    @{
                        if (Model.Tests != null && Model.Tests.Count > 0)
                        {
                            foreach (var item in Model.Tests)
                            {
                                <a class="badge badge-pill badge-success" href="/admin/tests/details/@item.Id" style="color:white">@item.CodeTest</a>
                            }
                        }
                        else
                        {
                            <span class="badge badge-pill badge-info">Chưa có đề thi</span>
                        }

                    }
                </td>
            </tr>
            <tr>
                <th scope="row" width="50%">Ghi chú</th>
                <td width="50%">
                    @{

                        <p>@Model.Note</p>
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">Thí sinh</th>
                <td>
                    @{
                        var _listClass = _examDao.GetClassSelected(Model.Id);
                        if (_listClass == null && _listClass.Count <= 0)
                        {
                            <p class="badge badge-pill badge-info">Chưa thiết lập</p>

                        }
                        else
                        {
                            foreach (var i in _listClass)
                            {
                                <a class="badge badge-pill badge-success" href="/admin/class/details/@i.Id" style="color: white">@i.Name</a>
                            }
                        }
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">Trạng thái</th>
                <td>
                    @{

                        if (Model.Status == null)
                        {
                            <p class="badge badge-pill badge-info">Chưa thiết lập</p>

                        }
                        else if (Model.Status == true)
                        {
                            <p class="badge badge-pill badge-success">Mở</p>
                        }
                        else
                        {
                            <p class="badge badge-pill badge-danger">Đóng</p>
                        }
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">Người tạo</th>
                <td>
                    @{
                        if (Model.UserID == null)
                        {
                            <p>null</p>
                        }
                        else
                        {
                            <p>@_userDao.GetUserById(Model.UserID).UserName</p>
                        }
                    }
                </td>
            </tr>
            <tr>
                <th scope="row">Ngày tạo</th>
                <td>@Html.DisplayFor(model => model.CreatedDate)</td>
            </tr>
            <tr>
                <th scope="row">Chỉnh sửa bởi</th>
                <td>
                    @Html.DisplayFor(model => model.ModifiedBy)
                </td>
            </tr>
            <tr>
                <th scope="row">Ngày chỉnh sửa</th>
                <td>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </td>
            </tr>

        </tbody>
    </table>
</div>
<p class="btn btn-outline-info">
    @Html.ActionLink("<<Quay lại", "Index")
</p>
