@model Model.EF.Exam

@{
    ViewBag.Title = "Chỉnh sửa kỳ thi";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    Chỉnh sửa kỳ thi
}

@section linkHeader{

    <link href="~/Assets/Admin/vendor/chosen/css/chosen.min.css" rel="stylesheet" />
}

@section jsFooter{

    <script src="~/Assets/Admin/vendor/chosen/js/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#multiSelectClass').chosen({
                width: "100%"
            });

            var exID = $('#ExamID').val();
            var selClass = [];
            $('#multiSelectClass').load(function () {
                $.getJSON("/admin/exams/GetClassSelected", { id: exID }, function (data) {
                    var items = [];
                    $.each(data, function (i, item) {
                        $('#multiSelectClass').val(item.Value).trigger('chosen:updated');
                        alert("" + item + "");
                    });
                    selClass = items;
                });
            });
                                  
            for (i = 0; i < selClass.length; i++)
            {
                $('#multiSelectClass').val([selClass[i]]).trigger('chosen:updated');
            }
            
            //$('#multiSelectClass').val(selClass).trigger('chosen:updated');
            
            //var classArr = selectedClass.split(',');
            //for (var i = 0; i < classArr.length; i++) {
            //    classArr[i] = classArr[i].replace(/^\s*/, "").replace(/\s*$/, "");
            //}
            //$('#multiSelectClass').val().trigger('chosen:updated')({
            //    width: "100%"
            //});
        });
    </script>

}

@using (Html.BeginForm("Edit", "exams", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin kỳ thi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @id="ExamID" }, id = "ExamID" })
        <div class="form-group">
            @Html.Label("Tiêu đề kỳ thi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ghi chú", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thí sinh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedClassID, null, "Chọn tất cả", new { htmlAttributes = new { @class = "form-control", @style = "width: 100%", @id = "multiSelectClass" }, id = "multiSelectClass", multiple = "multiple", data_placeholder = "--- Chọn thí sinh ---", width = "100%" })
                @Html.ValidationMessageFor(model => model.SelectedClassID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>      
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="btn btn-outline-info">
    @Html.ActionLink("<<Quay lại", "Index")
</div>

