@using PagedList;
@using PagedList.Mvc;
@using Model.DAO;
@using QuizManagementSystem.Common;

@model Model.EF.TestResultDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <title>Bắt đầu bài thi | Quiz Management System</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Quiz Management System">
    <!-- Bootstrap core CSS-->
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Admin/css/my-custom.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/Admin/js/plugins/countdown/js/jquery.countdown.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/">Quiz Management System</a>
            @{
                var session = Session[ConstantVariable.USER_SESSION] as UserLogin;

            }
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Đề thi đang mở</a>
                </li>
                @{
                    if (session != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/home/mytest">Đề thi của tôi</a>
                        </li>
                    }
                }
            </ul>
            @{
                if (session == null)
                {
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/login">
                                <i class="fa fa-fw fa-sign-in"></i>Đăng nhập
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="dropdown dropdown-menu-right">
                            <button class="btn btn-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="@session.Avatar" class="img-circle" style="width: 32px; height: 32px" /> Xin chào, @session.UserName!
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/user/info/@session.UserID">Thông tin tài khoản</a>
                                <a class="dropdown-item" href="#">Lịch sử thi</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/user/Logout">Thoát</a>
                            </div>
                        </li>
                    </ul>
                }
            }
        </nav>
    </div>
    <hr />
    <!-- /.navbar header-->
    <div class="wrapper">
        <div class="card">
            <div class="card-body text-center">

                @{
                    var exam = new ExamDAO().GetExamById(Model.ExamID);
                    <strong>
                        @exam.Titile.ToUpper()
                    </strong><br />
                }

                <strong>
                    @{
                        var test = new TestDAO().GetTestById(Model.TestID);
                    }
                    Môn thi: @test.Subject.Name
                </strong><br />
                <i>Thời gian làm bài: @test.Time (phút)</i><br />
                <hr />
                <strong>KẾT QUẢ</strong><br />
                @{
                    if (Model.Score >= test.ScoreLadder.ScorePassed)
                    {
                        <span>Điểm: <strong style="color: green">@Model.Score (Đạt)</strong></span><br />
                    }
                    else
                    {
                        <span>Điểm: <strong style="color: red">@Model.Score (Không đạt)</strong></span><br />
                    }
                }
                <span>Số câu đúng: <strong>@Model.NumberOfCorrect (câu)</strong></span><br />
                <span>Số câu sai: <strong>@Model.NumberOfWrong (câu)</strong></span><br />
                <span>Số câu bỏ qua: <strong>@Model.NumberOfIgnored (câu)</strong></span><br />
                <span>Lần làm bài thứ: @Model.TimeToTake</span><br />
                <span>Ngày làm bài: @Model.ActualTestDate.Value.ToShortDateString()</span><br />
            </div>
        </div>
        <hr />

        @{
            var quizList = new TestDAO().GetAllQuiz(Model.TestID);
            for (int i = 1; i <= quizList.Count; i++)
            {

                char[] Alphabet = { 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J' };
                var userAnswer = Model.UserAnswer.Split(',');
                string[] _answer = null;
                <strong id="@i">Câu @i: </strong>
                @Html.Raw(quizList[i - 1].ContentQuestion);
                _answer = System.Text.RegularExpressions.Regex.Split(quizList[i - 1].AnswerText, "\r\n");
                int index = 0;
                int flag = -1;
                for (int j = 0; j < _answer.Length; j++)
                {
                    if (_answer[j] != null && _answer[j] != "")
                    {  
                        if (QuizManagementSystem.Common.Encode.StripPTag(_answer[j].ToString()).Contains(userAnswer[i - 1].ToString() + ". ") && !userAnswer[i - 1].Contains(quizList[i - 1].KeyAnswer.ToString())
                            || QuizManagementSystem.Common.Encode.StripPTag(_answer[j].ToString()).Contains(userAnswer[i - 1].ToString() + ".") && !userAnswer[i - 1].Contains(quizList[i - 1].KeyAnswer.ToString()))
                        {
                            <input type="radio" name="UserAnswer[@(i-1)]" value="@Alphabet[index]" checked="checked" disabled /> <span class="bg-danger text-white">@Html.Raw(QuizManagementSystem.Common.Encode.StripPTag(_answer[j].ToString()))</span><br>
                            flag = 0;
                        }

                        else if (QuizManagementSystem.Common.Encode.StripPTag(_answer[j].ToString()).Contains(quizList[i - 1].KeyAnswer.ToString() + ". ")
                            || QuizManagementSystem.Common.Encode.StripPTag(_answer[j].ToString()).Contains(quizList[i - 1].KeyAnswer.ToString() + "."))
                        {
                            if (flag == 0)
                            {
                                <input type="radio" name="UserAnswer[@(i-1)]" value="@Alphabet[index]" disabled /> <span class="bg-success text-white">@Html.Raw(QuizManagementSystem.Common.Encode.StripPTag(_answer[j].ToString()))</span><br>
                            }
                            else
                            {
                                <input type="radio" name="UserAnswer[@(i-1)]" value="@Alphabet[index]" checked="checked" disabled /> <span class="bg-success text-white">@Html.Raw(QuizManagementSystem.Common.Encode.StripPTag(_answer[j].ToString()))</span><br>
                            }
                            if (j == _answer.Length - 1)
                            {
                                flag = -1;
                            }
                        }
                        else
                        {
                            <input type="radio" name="UserAnswer[@(i-1)]" value="@Alphabet[index]" disabled /> @Html.Raw(QuizManagementSystem.Common.Encode.StripPTag(_answer[j].ToString()))<br>
                        }

                        index++;
                    }

                }
                <hr />
            }
        }
    </div>


    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container wrapper">
            <div class="text-center">
                <small>Copyright UIT © Quiz Management System @DateTime.Now.Year</small>
            </div>
        </div>
    </footer>
    <br />


</body>

</html>