@using PagedList;
@using PagedList.Mvc;
@using Model.DAO;
@model PagedList.IPagedList<Model.EF.Test>

@{
    ViewBag.Title = "Danh sách đề thi | Quiz Management System";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <a href="/admin/tests">Danh sách đề thi</a>
}
@section linkHeader{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
}

@section jsFooter{
    <!-- Custom scripts for this page-->
    <script src="~/Assets/Admin/js/sb-admin-datatables.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('dataTable').dataTable();
        });
    </script>
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách đề thi
        <a class="btn btn-primary" href="/admin/tests/create">Thêm đề thi mới</a>
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Index", "tests", FormMethod.Get))
        {
            <div class="input-group col-6" style="margin-bottom: 20px;">
                <input type="text" class="form-control" name="searchString" value="@ViewBag.SearchString" placeholder="Nhập thông tin cần tìm..." aria-label="searchString" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã đề thi</th>
                            <th>Tên kỳ thi</th>
                            <th>Môn thi</th>
                            <th>Ngày thi</th>
                            <th>Số câu hỏi</th>
                            <th>Trạng thái</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã đề thi</th>
                            <th>Tên kỳ thi</th>
                            <th>Môn thi</th>
                            <th>Ngày thi</th>
                            <th>Số câu hỏi</th>
                            <th>Trạng thái</th>
                            <th>Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.CodeTest)</td>
                                <td>@Html.DisplayFor(model => item.Exam.Titile)</td>
                                <td>@Html.DisplayFor(model => item.Exam.Subject.Name)</td>
                                <td>@Html.DisplayFor(model => item.Exam.FromDate)</td>
                                <td>@Html.DisplayFor(model => item.NumberOfQuestions)</td>
                                <td>
                                    @{
                                        if (item.Status == null)
                                        {
                                            <p class="badge badge-pill badge-info">Chưa thiết lập</p>

                                        }
                                        else if (item.Status == true)
                                        {
                                            <p class="badge badge-pill badge-success">Đang mở</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-pill badge-danger">Đã đóng</p>
                                        }
                                    }
                                </td>
                                <td width="20%">
                                    <a class="btn btn-info" href="/admin/tests/details/@item.Id">Chi tiết</a>
                                    <a class="btn btn-warning" href="/admin/tests/edit/@item.Id">Sửa</a>
                                    <a class="btn btn-danger" href="/admin/tests/delete/@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        }
    </div>
</div>
