
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title | Quiz Management System</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Assets/Admin/css/sb-admin.css" rel="stylesheet">
    @RenderSection("linkHeader", required: false)
    @RenderSection("jsHeader", required: false)
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    @RenderPage("_NavbarRight.cshtml")
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin/home">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">@RenderSection("breadcrumb", required: true)</li>
            </ol>
            @if (TempData["AlertMessage"] != null)
            {
                <div class="alert @TempData["AlertType"] alert-dismissible fade show hide" id="AlertBox" role="alert">
                    @TempData["AlertMessage"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @RenderBody()
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright UIT © Quiz Management System 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đăng xuất?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Bạn có chắc rằng muốn thoát khỏi hệ thống</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                        <a class="btn btn-primary" href="/admin/login/logout">OK</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
        <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Assets/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/Assets/Admin/js/sb-admin-datatables.min.js"></script>
        <!-- CK Finder -->
        <script src="~/Assets/Admin/js/plugins/ckfinder/ckfinder.js"></script>
        <!-- CK Editor -->
        <script src="~/Assets/Admin/js/plugins/ckeditor/ckeditor.js"></script>
        <!-- Ajax JS -->
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Assets/Admin/js/sb-admin.js"></script>
        <script src="~/Scripts/mycustom.js"></script>
        @RenderSection("jsFooter", required: false)

    </div>
</body>
</html>
