@using PagedList;
@using PagedList.Mvc;
@using Model.DAO;

@model PagedList.IPagedList<Model.EF.User>


@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";

}

@section breadcrumb{
<a href="/admin/user">Danh sách người dùng</a>
}
@section linkHeader{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
}

@section jsFooter{
    <!-- Custom scripts for this page-->
    <script src="~/Assets/Admin/js/sb-admin-datatables.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('dataTable').dataTable();
        });
    </script>
}


<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách người dùng
        <a class="btn btn-primary" href="/admin/user/create">Thêm người dùng</a>
    </div>

    <div class="card-body">
        @using (Html.BeginForm("Index", "user", FormMethod.Get))
        {
            <div class="input-group col-6" style="margin-bottom: 20px;">
                <input type="text" class="form-control" name="searchString" value="@ViewBag.SearchString" placeholder="Nhập thông tin cần tìm..." aria-label="searchString" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên tài khoản</th>
                            <th>Loại tài khoản</th>
                            <th>Email</th>
                            <th>Ngày đăng ký</th>
                            <th>Kích hoạt</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên tài khoản</th>
                            <th>Loại tài khoản</th>
                            <th>Email</th>
                            <th>Ngày đăng ký</th>
                            <th>Kích hoạt</th>
                            <th>Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">
                                <td>@Html.DisplayFor(model => item.Id)</td>
                                <td>@Html.DisplayFor(model => item.UserName)</td>
                                <td>@item.UserGroup.Name</td>
                                <td>@Html.DisplayFor(model => item.Email)</td>
                                <td>@Html.DisplayFor(model => item.DateOfParticipation)</td>
                                <td>
                                    @{
                                        if (item.Status == null)
                                        {
                                            <p class="badge badge-pill badge-info">Chưa kích hoạt</p>

                                        }
                                        else if (item.Status == true)
                                        {
                                            <p class="badge badge-pill badge-success">Đã kích hoạt</p>
                                        }
                                        else
                                        {
                                            <p class="badge badge-pill badge-danger">Khóa</p>
                                        }
                                    }
                                </td>
                                <td width="20%">
                                    <a class="btn btn-info" href="/admin/user/detail/@item.Id">Chi tiết</a>
                                    <a class="btn btn-warning" href="/admin/user/edit/@item.Id">Sửa</a>
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                                    {
                                        Confirm = "Bạn có muốn xóa người dùng này?",
                                        HttpMethod = "Delete",
                                        OnComplete = "$('#row_" + item.Id + "').remove()"
                                    }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        }
    </div>
</div>