@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<Model.EF.User>

@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";

}

@section breadcrumb{
    Danh sách người dùng
}
@section linkHeader{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
}

@section jsFooter{
    <!-- Custom scripts for this page-->
    <script src="~/Assets/Admin/js/sb-admin-datatables.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Assets/Admin/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('dataTable').dataTable();
        });
    </script>
}

<!-- Example DataTables Card-->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách người dùng
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "user", FormMethod.Get))
        {
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên tài khoản</th>
                            <th>Loại tài khoản</th>
                            <th>Email</th>
                            <th>Ngày đăng ký</th>
                            <th>Kích hoạt</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên tài khoản</th>
                            <th>Loại tài khoản</th>
                            <th>Email</th>
                            <th>Ngày đăng ký</th>
                            <th>Kích hoạt</th>
                            <th>Chức năng</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Id)</td>
                                <td>@Html.DisplayFor(model => item.UserName)</td>
                                <td>
                                    @{
                                        var role = item.Roles.FirstOrDefault(x => x.Id == item.Id);
                                        @Html.DisplayFor(model => role.Name);
                                    }
                                </td>
                                <td>@Html.DisplayFor(model => item.Email)</td>
                                <td>@Html.DisplayFor(model => item.DateOfParticipation)</td>
                                <td>
                                    @{
                                        if (item.Status == null)
                                        {
                                            <p class="text-info">Chưa kích hoạt</p>

                                        }
                                        else if (item.Status == true)
                                        {
                                            <p class="text-success">Đã kích hoạt</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Khóa</p>
                                        }
                                    }
                                </td>
                                <td width="20%">
                                    <a class="btn btn-info" href="/admin/user/detail/@item.Id">Chi tiết</a>
                                    <a class="btn btn-warning" href="/admin/user/edit/@item.Id">Sửa</a>
                                    <a class="btn btn-danger" href="/admin/user/delete/@item.Id">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        }
    </div>
</div>