@using PagedList;
@using PagedList.Mvc;
@using Model.DAO;
@using QuizManagementSystem.Common;
@model PagedList.IPagedList<Model.EF.Exam>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Quiz Management System">
    <title> Hệ thống hỗ trợ thi trắc nghiệm | Quiz Management System</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <!-- Custom fonts for this template-->
    <link href="~/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/">Quiz Management System</a>
            @{
                var session = Session[ConstantVariable.USER_SESSION] as UserLogin;

            }
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home/active">Kỳ thi đang mở</a>
                </li>
                @{
                    if (session != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/home/mytest">Kỳ thi của tôi</a>
                        </li>
                    }  
                }
            </ul>
            @{
                if (session == null)
                {
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/login">
                                <i class="fa fa-fw fa-sign-in"></i>Đăng nhập
                            </a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="dropdown dropdown-menu-right">
                            <button class="btn btn-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="@session.Avatar" class="img-circle" style="width: 32px; height: 32px" /> Xin chào, @session.UserName!
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/">/user/info/@session.UserID</a>
                                <a class="dropdown-item" href="/user/historyexams/@session.UserID">Lịch sử thi</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/user/Logout">Thoát</a>
                            </div>
                        </li>
                    </ul>
                }
            }
        </nav>
    </div>
    <hr />
    <!--Nội dung-->
    <div class="container">
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert @TempData["AlertType"] alert-dismissible fade show hide" id="AlertBox" role="alert">
                @TempData["AlertMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="searchString" value="@ViewBag.SearchString" placeholder="Nhập nội dung tìm kiếm..." aria-label="Tìm kiếm">
            <button class="btn btn-default my-2 my-sm-0" type="submit">Tìm</button>
        </form>
        @using (Html.BeginForm("Index", "home", FormMethod.Get))
        {
            <br />
            foreach (var item in Model)
            {
                if (item.Tests.Count > 0)
                {
                    var tests = new TestDAO().GetAllTestByExam(item);
                    <div class="card card-outline-primary mb-3">
                        <div class="card-body">
                            <h2 class="card-title card-link"><a href="/admin/exams/startthetest/@item.Id"> @item.Titile</a></h2>
                            <span class="card-text">
                                <em class="fa fa-book">Môn thi: <strong>@item.Subject.Name</strong></em>
                            </span>
                            <span class="card-text">
                                <em class="fa fa-clock-o">Thời gian bắt đầu: <strong>@item.StartTime.ToString() @item.FromDate.Value.ToShortDateString()</strong></em>
                            </span>
                            <span class="card-text">
                                <em class="fa fa-clock-o">Thời gian kết thúc: <strong>@item.EndTime @item.ToDate.Value.ToShortDateString()</strong></em>
                            </span>
                            <span class="card-text">
                                <em class="fa fa-user">
                                    Tạo bởi:
                                    @{
                                        var _user = new UserDAO().GetUserById(@tests[0].CreatedBy);
                                        <strong> @_user.UserName.ToString()</strong>
                                    }
                                </em>
                            </span>
                        </div>
                    </div>
                }
            }
            @Html.PagedListPager(Model, page => Url.Action("Active", new { page, @searchString = @ViewBag.SearchString }))
        }
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/Admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/Admin/vendor/bootstrap/js/bootstrap.js"></script>
</body>
</html>