@model QuizManagementSystem.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập vào hệ thống Quiz Management System | UIT</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Assets/Login/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/Login/css/form-elements.css" />
    <link rel="stylesheet" href="~/Assets/Login/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/Assets/Login/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/Login/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/Login/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/Login/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/Login/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>HỆ THỐNG HỖ TRỢ THI TRẮC NGHIỆM</strong></h1>
                        <div class="description">
                            <p>
                                <strong>QUIZ MANAGEMENT SYSTEM</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Đăng nhập</h3>
                                <p>Nhập vào tài khoản và mật khẩu vào bên dưới</p>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        @using (Html.BeginForm("Login", "user", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2 sr-only" })
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-username form-control" })
                                        @*@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })*@
                                        @*<label class="sr-only" for="form-username">Username</label>
                                        <input type="text" name="form-username" placeholder="Tên tài khoản" class="form-username form-control" id="form-username">*@
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2 sr-only" })
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-password form-control" , @type = "password"})
                                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                        @*<label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="form-password" placeholder="Mật khẩu" class="form-password form-control" id="form-password">*@
                                    </div>
                                    <button type="submit" class="btn">Đăng nhập</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Javascript -->
    <script src="~/Assets/Login/js/jquery-1.11.1.min.js"></script>
    <script src="~/Assets/Login/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/Login/js/jquery.backstretch.min.js"></script>
    <script src="~/Assets/Login/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="~/Assets/Login/js/placeholder.js"></script>
    <![endif]-->
</body>
</html>

