@model Model.EF.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Class.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Class.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Role.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Role.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NewPasswordHash)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NewPasswordHash)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DayOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DayOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfParticipation)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfParticipation)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sex)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sex)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Avatar)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Avatar)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ModifiedBy)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
